<script>
angular.module("iassetApp", ['ngRoute'])
    .config(function ($routeProvider) {
        $routeProvider.when("/", {
            templateUrl: "/ClientViews/FlightLists.html",
            controller: 'gateController'
        });

        $routeProvider.when("/edit/:flightNo-:gateNo", {
            templateUrl: "/ClientViews/EditFlight.html",
            controller: 'flightController'
        });
    })
</script>
<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/gateController.js"></script>
<script src="~/Scripts/app/flightController.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<div ng-controller="appController">
    <ng-view />
</div>
